.add_book_page{
  .add_book_form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 5rem;
    border-radius: .5rem;
    background: white;
    margin: 0 5rem;
    label{
      display: flex;
      flex-direction: column;
    }
    input{
      margin: 0.2rem
    }
    img{
      display: block;
      width: 10vh;
    }
  }
}
