@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@font-face {
  font-family: "Ustroke_Regular";
  src: url(../fonts/Ustroke_Regular.ttf);
}


body {
  height: 100vh;
  font-family: 'Amatic SC', cursive;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background-color: black;

  }
  &:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: black;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(6px);
  }
  section {
    background-color: rgba(255, 255, 255, 0.671);
    height: 100vh;
    h1{
      padding: 5rem 0 .3rem;
      text-align: center;
      font-family: 'Ustroke_Regular', sans-serif;
      color: rgb(48, 42, 45);
    }
  }
  img{
    display: block;
  }
}
