@import "reset";
@import './variables.scss';


body {
  height: 100vh;
  line-height: 1;
  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background-color: black;
  }
  &:after {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: black;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(6px);
  }

  section {
    height: calc(100vh - 78px);
    background-color: rgba(255, 255, 255, 0.671);
    height: 100vh;
    h1{
      padding: 8rem 0 .5rem;
      text-align: center;
      font-size: 35px;
      font-family: $SecondaryFont;
      color: rgb(48, 42, 45);
    }
  }
  img{
    display: block;
  }
  .primary_link{
    color: $Blue;
    transition: all 0.3s;
    &:hover{
      color: $Red;
      text-decoration: none;
    }
  }
}
.animate__slideInDown {
  --animate-duration: .5s;
}
