.main_page {
  .card_list {
    height: 77vh;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.705);
    border-radius: 3px;
    .book_card {
      background: white;
      margin: 1rem;
      padding: 0.5rem;
      border-radius: 3px;
      .image_container{
        width: 100%;
        overflow: hidden;
        border-right: 2px black solid;
        img {
          display: block;
          height: 18rem;
          margin: .5rem auto;
          overflow: hidden;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
      }
    }
  }
}

