.main_page {
  .sort{
    margin-bottom: .5rem;
    margin-left: 6rem;
  }
  .card_list {
    height: 75vh;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.705);
    border-radius: 3px;
    border: 6px solid rgba(0, 0, 0, 0);
    margin: 0 5rem;
    .book_card {
      background: url(../../images/paper.jpg);
      margin: 1rem;
      padding: 0.5rem;
      border-radius: 3px;
      .image_container{
        width: 100%;
        overflow: hidden;
        border-right: 2px black solid;
        img {
          display: block;
          height: 16rem;
          margin: .5rem auto;
          overflow: hidden;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
      }
      .book_description{
        font-size: 1.9rem;
        line-height: 2rem;
        b{
          font-size: 1.3rem;
          line-height: 1.6rem;
          color: rgb(102, 101, 101);
        }
      }
      .card_buttons{
        padding: 2rem 0 1rem;
        button{
          margin-right: 1rem;
          font-size: 1.8rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .card_list {
    margin: 0 !important
  }
  .image_container{
    border-right: 0px solid rgb(255, 255, 255) !important;
  }
  .sort{
    margin-left: 0 !important;
  }
}

