.main_page {

  .card_list {
    height: 73vh;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.705);
    border-radius: 8px;
    border: .5rem solid rgba(0, 0, 0, 0);
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
    grid-auto-rows: min-content;
  }
}

@media screen and (max-width: 1200px) {
  .card_list {
    grid-template-columns: 1fr !important;
  }
}

