header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(15, 6, 3);
  color: white;
  padding: 0.5rem;
  z-index: 2;
  .button-block{
    text-align: center;
  }
  .title{
    text-align: center;
  }
}
