header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(30deg, #13547A, rgb(40, 21, 49));  

  color: white;
  z-index: 2;
  .button-block{
    text-align: center;
  }
  .title{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px
  }
}
