@import "../../styles/variables.scss";

footer {
  background: #1a1616;  
  width: 100%;
  color: white;
  position: fixed;
  bottom: 0;
  .title {
    text-align: center;
    font-family: $PrimaryFont;
    font-size: 15px;
    margin: .5rem
  }
}
